.input {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input input {
  margin-top: 5px;
  height: 20px;
  padding: 1rem;
  border-radius: 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.171);
  font-family: "Poppins", sans-serif;
}
