.modalWrapper {
  width: 400px;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}
